@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display:flex;
    align-items: center;
   justify-content: space-between;
    padding-top: 45px;
    padding-left: 8%;
    padding-right: 8%;
    font-size: 20px;
}
.logo{
    margin-top: -50px;
    color:azure;
    font-size: 35px;
    letter-spacing: 1px;
    cursor: pointer;
}
span{
    color:rgb(255, 166, 0);
}
nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 25px;
}
nav ul li a{
    margin-top: -50px;
    color:azure;
    text-decoration: none;
    text-transform: capitalize;
}
nav ul li a:hover{
    color: rgb(255, 166, 0);
    transition: .4s;
}
.navbar-scrolled {
    transition: all 0.5s;
    background-color: #000;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.10);
}
.navbar img{
    cursor: pointer;
}

.about {

    height: 100vh;
    width: 100%;
    padding: 100px 0px;
    background-size: cover;
    background-size: center;
    background-attachment: fixed;
    background-image: url(../images/hero2.jpg);
}
.about img{
    height:auto;
    width: 430px;
}
.about-text{
    width: 550px;
}
.main{
    width:1130px ;
    max-width: 95%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content:space-around ;
}
.about-text h2{
    margin-top: 100px;
    color:azure;
    font-size: 55px;
    text-transform: capitalize;
    margin-bottom: 20px;
}
.about-text h5{
    color: azure;
    letter-spacing: 2px;
    font-size: 22px;
    margin-bottom: 25px;
    text-transform: capitalize;
}
.about-text p{
    color:azure;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
}
button{
    background-color: rgb(255, 166, 0);
    color: azure;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding:13px 30px;
    border-radius: 30px;
    transition: .4s;
}
button:hover{
    background-color: transparent;
    border: 2px solid rgb(255, 166, 0);
    cursor: pointer;
}
.contact-us{
        width: 100%;
        height: 210px;
        background-attachment: fixed;
        background-size: cover;
        background-size: center;
        background-color: #141414;
    
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }
    .contact-us h2{
        color: azure;
        font-size: 30px;
        font-weight: bold;
        padding-top: 2px;
    }
   
    .account i{
        font-size: 27px;
        margin-top: 10px;
        padding: 0px 4px;
        color: rgb(255, 166, 0);
        cursor: pointer;
    }

    .contact-us p {
        font-size: small;
        color : azure;
        
    }
    .copyright{
        font-size: 16px;
        font-weight: 500;
    }
    